<header class="fixed-top bg-dark d-flex justify-content-between align-items-center px-4 py-2">
    <nav>
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><a class="text-light"> </a></li>
        <li class="list-inline-item"><a class="text-light">Registrarse</a></li>
        <li class="list-inline-item"><a class="text-light">Anaconda</a></li>
        <li class="list-inline-item"><a class="text-light">Informacion</a></li>
      </ul>
    </nav>
    
    <div class="text-light">  
    </div>
</header>