<section class="container mt-5 pt-5">
    <h2 class="section-title text-center mb-4">Proyectos propios</h2>
    <p class="text-light text-center m-4">Mis proyectos en GitHub.</p>
    <div class="d-flex flex-column gap-4">
        @for (proyecto of proyectos; track proyecto.id) {
        <div class="project-card p-4 border-red rounded">
            <h3 class="mb-2">{{ proyecto.name }}</h3>
            <p class="mb-2">{{ proyecto.description || 'Sin descripción.' }}</p>
            <p>{{ proyecto.owner.login }}</p>
            <a [href]="proyecto.html_url" target="_blank" class="btn btn-outline-danger btn-sm">
            Ver en GitHub
            </a>
        </div>
        }
    </div>
</section>